@font-face {
   font-family:"Sony-System-Icons";
   src:url("Sony-System-Icons.woff2") format("woff2"),
      url("Sony-System-Icons.woff") format("woff"),
      url("Sony-System-Icons.ttf") format("truetype"),
      url("Sony-System-Icons.eot?#iefix") format("embedded-opentype"),
      url("Sony-System-Icons.svg#Sony-System-Icons") format("svg");
   font-weight:normal;
   font-style:normal;
}




/* Bootstrap Overrides */
.fonticon-60-blank:before,.fonticon-60-blank--after:after,.fonticon-60-sony:before,.fonticon-60-sony--after:after,.fonticon-60-win8:before,.fonticon-60-win8--after:after,.fonticon-40-eco:before,.fonticon-40-eco--after:after,.fonticon-40-accessories:before,.fonticon-40-accessories--after:after,.fonticon-30-xsmall-tv:before,.fonticon-30-xsmall-tv--after:after,.fonticon-30-small-tv:before,.fonticon-30-small-tv--after:after,.fonticon-30-medium-tv:before,.fonticon-30-medium-tv--after:after,.fonticon-30-large-tv:before,.fonticon-30-large-tv--after:after,.fonticon-30-controller:before,.fonticon-30-controller--after:after,.fonticon-30-plus:before,.fonticon-30-plus--after:after,.fonticon-20-blank:before,.fonticon-20-blank--after:after,.fonticon-20-car-speaker-enclosed:before,.fonticon-20-car-speaker-enclosed--after:after,.fonticon-20-flash-drives:before,.fonticon-20-flash-drives--after:after,.fonticon-20-lens-camera:before,.fonticon-20-lens-camera--after:after,.fonticon-20-over-the-head:before,.fonticon-20-over-the-head--after:after,.fonticon-20-walkman:before,.fonticon-20-walkman--after:after,.fonticon-20-cd:before,.fonticon-20-cd--after:after,.fonticon-20-tweeter:before,.fonticon-20-tweeter--after:after,.fonticon-20-car-speaker:before,.fonticon-20-car-speaker--after:after,.fonticon-20-film-strip:before,.fonticon-20-film-strip--after:after,.fonticon-20-meeting-recording:before,.fonticon-20-meeting-recording--after:after,.fonticon-20-voice-memo-recording:before,.fonticon-20-voice-memo-recording--after:after,.fonticon-20-music:before,.fonticon-20-music--after:after,.fonticon-20-pro-audio:before,.fonticon-20-pro-audio--after:after,.fonticon-20-travel:before,.fonticon-20-travel--after:after,.fonticon-20-controller:before,.fonticon-20-controller--after:after,.fonticon-20-all-in-one:before,.fonticon-20-all-in-one--after:after,.fonticon-20-walkman-compact:before,.fonticon-20-walkman-compact--after:after,.fonticon-20-wifi:before,.fonticon-20-wifi--after:after,.fonticon-20-3d:before,.fonticon-20-3d--after:after,.fonticon-20-led:before,.fonticon-20-led--after:after,.fonticon-20-4k:before,.fonticon-20-4k--after:after,.fonticon-20-laptop-tap:before,.fonticon-20-laptop-tap--after:after,.fonticon-20-laptop-flip:before,.fonticon-20-laptop-flip--after:after,.fonticon-20-laptops:before,.fonticon-20-laptops--after:after,.fonticon-20-hybrid-pcs:before,.fonticon-20-hybrid-pcs--after:after,.fonticon-20-pro-handycam:before,.fonticon-20-pro-handycam--after:after,.fonticon-20-advanced-amateur:before,.fonticon-20-advanced-amateur--after:after,.fonticon-20-night:before,.fonticon-20-night--after:after,.fonticon-20-landscapes:before,.fonticon-20-landscapes--after:after,.fonticon-20-portraits:before,.fonticon-20-portraits--after:after,.fonticon-20-expert-capability:before,.fonticon-20-expert-capability--after:after,.fonticon-20-big-zoom:before,.fonticon-20-big-zoom--after:after,.fonticon-20-casual-shooting:before,.fonticon-20-casual-shooting--after:after,.fonticon-20-phones:before,.fonticon-20-phones--after:after,.fonticon-20-battery:before,.fonticon-20-battery--after:after,.fonticon-20-mic-studio:before,.fonticon-20-mic-studio--after:after,.fonticon-20-runner:before,.fonticon-20-runner--after:after,.fonticon-20-skateboard:before,.fonticon-20-skateboard--after:after,.fonticon-15-flag:before,.fonticon-15-flag--after:after,.fonticon-15-tumblr:before,.fonticon-15-tumblr--after:after,.fonticon-15-vine:before,.fonticon-15-vine--after:after,.fonticon-15-vk:before,.fonticon-15-vk--after:after,.fonticon-15-weibo:before,.fonticon-15-weibo--after:after,.fonticon-15-comment-ratings:before,.fonticon-15-comment-ratings--after:after,.fonticon-15-circle-num-9:before,.fonticon-15-circle-num-9--after:after,.fonticon-15-circle-num-8:before,.fonticon-15-circle-num-8--after:after,.fonticon-15-circle-num-7:before,.fonticon-15-circle-num-7--after:after,.fonticon-15-circle-num-6:before,.fonticon-15-circle-num-6--after:after,.fonticon-15-circle-num-5:before,.fonticon-15-circle-num-5--after:after,.fonticon-15-circle-num-4:before,.fonticon-15-circle-num-4--after:after,.fonticon-15-circle-num-3:before,.fonticon-15-circle-num-3--after:after,.fonticon-15-circle-num-2:before,.fonticon-15-circle-num-2--after:after,.fonticon-15-circle-num-1:before,.fonticon-15-circle-num-1--after:after,.fonticon-15-circle-num-0:before,.fonticon-15-circle-num-0--after:after,.fonticon-15-zoom:before,.fonticon-15-zoom--after:after,.fonticon-15-instagram:before,.fonticon-15-instagram--after:after,.fonticon-15-link:before,.fonticon-15-link--after:after,.fonticon-15-facebook:before,.fonticon-15-facebook--after:after,.fonticon-15-pinterest:before,.fonticon-15-pinterest--after:after,.fonticon-15-youtube:before,.fonticon-15-youtube--after:after,.fonticon-15-gplus:before,.fonticon-15-gplus--after:after,.fonticon-15-facebook-sm:before,.fonticon-15-facebook-sm--after:after,.fonticon-15-twitter:before,.fonticon-15-twitter--after:after,.fonticon-15-popup:before,.fonticon-15-popup--after:after,.fonticon-15-circle-play:before,.fonticon-15-circle-play--after:after,.fonticon-15-mobile-menu:before,.fonticon-15-mobile-menu--after:after,.fonticon-10-blank:before,.fonticon-10-blank--after:after,.fonticon-10-circle_off:before,.fonticon-10-circle_off--after:after,.fonticon-10-circle-plus:before,.fonticon-10-circle-plus--after:after,.fonticon-10-globe-web:before,.fonticon-10-globe-web--after:after,.fonticon-10-no-favorites:before,.fonticon-10-no-favorites--after:after,.fonticon-10-share:before,.fonticon-10-share--after:after,.fonticon-10-thumbs-down:before,.fonticon-10-thumbs-down--after:after,.fonticon-10-web-globe:before,.fonticon-10-web-globe--after:after,.fonticon-10-back-to-top:before,.fonticon-10-back-to-top--after:after,.fonticon-10-circle_on:before,.fonticon-10-circle_on--after:after,.fonticon-10-thumbs-up:before,.fonticon-10-thumbs-up--after:after,.fonticon-10-blank:before,.fonticon-10-blank--after:after,.fonticon-10-browse:before,.fonticon-10-browse--after:after,.fonticon-10-compare:before,.fonticon-10-compare--after:after,.fonticon-10-x-sm:before,.fonticon-10-x-sm--after:after,.fonticon-10-minus-sm:before,.fonticon-10-minus-sm--after:after,.fonticon-10-plus-sm:before,.fonticon-10-plus-sm--after:after,.fonticon-10-speaker:before,.fonticon-10-speaker--after:after,.fonticon-10-video-pause:before,.fonticon-10-video-pause--after:after,.fonticon-10-video-play:before,.fonticon-10-video-play--after:after,.fonticon-10-video-minimize:before,.fonticon-10-video-minimize--after:after,.fonticon-10-video-enlarge:before,.fonticon-10-video-enlarge--after:after,.fonticon-10-x:before,.fonticon-10-x--after:after,.fonticon-10-circlearrow:before,.fonticon-10-circlearrow--after:after,.fonticon-10-dot:before,.fonticon-10-dot--after:after,.fonticon-10-sm-bold-x:before,.fonticon-10-sm-bold-x--after:after,.fonticon-10-sm-bold-check:before,.fonticon-10-sm-bold-check--after:after,.fonticon-10-sm-bold-plus:before,.fonticon-10-sm-bold-plus--after:after,.fonticon-10-arrow-left:before,.fonticon-10-arrow-left--after:after,.fonticon-10-arrow-right:before,.fonticon-10-arrow-right--after:after,.fonticon-10-arrowheads-elevator:before,.fonticon-10-arrowheads-elevator--after:after,.fonticon-10-arrowhead-up:before,.fonticon-10-arrowhead-up--after:after,.fonticon-10-arrowhead-down:before,.fonticon-10-arrowhead-down--after:after,.fonticon-10-alpha-bold:before,.fonticon-10-alpha-bold--after:after,.fonticon-10-alpha-medium:before,.fonticon-10-alpha-medium--after:after,.fonticon-10-alpha:before,.fonticon-10-alpha--after:after,.fonticon-10-alpha-light:before,.fonticon-10-alpha-light--after:after,.fonticon-10-chevron-sm:before,.fonticon-10-chevron-sm--after:after,.fonticon-10-chevron-reverse:before,.fonticon-10-chevron-reverse--after:after,.fonticon-10-chevron:before,.fonticon-10-chevron--after:after,.fonticon-10-x-skinny-rounded:before,.fonticon-10-x-skinny-rounded--after:after,.fonticon-10-x-skinny:before,.fonticon-10-x-skinny--after:after,.fonticon-10-plus-skinny:before,.fonticon-10-plus-skinny--after:after,.fonticon-10-square-neg-plus:before,.fonticon-10-square-neg-plus--after:after,.fonticon-10-circle-q:before,.fonticon-10-circle-q--after:after,.fonticon-10-circle-x:before,.fonticon-10-circle-x--after:after,.fonticon-10-grid-3x3:before,.fonticon-10-grid-3x3--after:after,.fonticon-10-support:before,.fonticon-10-support--after:after,.fonticon-10-location:before,.fonticon-10-location--after:after,.fonticon-10-star-half:before,.fonticon-10-star-half--after:after,.fonticon-10-star:before,.fonticon-10-star--after:after,.fonticon-10-globe:before,.fonticon-10-globe--after:after,.fonticon-10-registered:before,.fonticon-10-registered--after:after,.fonticon-10-newsletter:before,.fonticon-10-newsletter--after:after,.fonticon-10-orders:before,.fonticon-10-orders--after:after,.fonticon-10-account:before,.fonticon-10-account--after:after,.fonticon-10-search:before,.fonticon-10-search--after:after,.fonticon-10-cart:before,.fonticon-10-cart--after:after,.fonticon-10-favorite:before,.fonticon-10-favorite--after:after
 {
   font-family: "Sony-System-Icons";
   display: inline-block;
   vertical-align: middle;
   line-height: 1;
   speak: none;
   text-decoration: inherit;
   text-transform: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }


/* Icon mappings */
.fonticon-60-blank:before,.fonticon-60-blank--after:after{content:"\e600";}

.fonticon-60-sony:before,.fonticon-60-sony--after:after{content:"\e601";}

.fonticon-60-win8:before,.fonticon-60-win8--after:after{content:"\e602";}

.fonticon-40-eco:before,.fonticon-40-eco--after:after{content:"\e603";}

.fonticon-40-accessories:before,.fonticon-40-accessories--after:after{content:"\e604";}

.fonticon-30-xsmall-tv:before,.fonticon-30-xsmall-tv--after:after{content:"\e605";}

.fonticon-30-small-tv:before,.fonticon-30-small-tv--after:after{content:"\e606";}

.fonticon-30-medium-tv:before,.fonticon-30-medium-tv--after:after{content:"\e607";}

.fonticon-30-large-tv:before,.fonticon-30-large-tv--after:after{content:"\e608";}

.fonticon-30-controller:before,.fonticon-30-controller--after:after{content:"\e685";}

.fonticon-30-plus:before,.fonticon-30-plus--after:after{content:"\e686";}

.fonticon-20-blank:before,.fonticon-20-blank--after:after{content:"\e609";}

.fonticon-20-car-speaker-enclosed:before,.fonticon-20-car-speaker-enclosed--after:after{content:"\e60a";}

.fonticon-20-flash-drives:before,.fonticon-20-flash-drives--after:after{content:"\e60b";}

.fonticon-20-lens-camera:before,.fonticon-20-lens-camera--after:after{content:"\e60c";}

.fonticon-20-over-the-head:before,.fonticon-20-over-the-head--after:after{content:"\e60d";}

.fonticon-20-walkman:before,.fonticon-20-walkman--after:after{content:"\e60e";}

.fonticon-20-cd:before,.fonticon-20-cd--after:after{content:"\e60f";}

.fonticon-20-tweeter:before,.fonticon-20-tweeter--after:after{content:"\e610";}

.fonticon-20-car-speaker:before,.fonticon-20-car-speaker--after:after{content:"\e611";}

.fonticon-20-film-strip:before,.fonticon-20-film-strip--after:after{content:"\e612";}

.fonticon-20-meeting-recording:before,.fonticon-20-meeting-recording--after:after{content:"\e613";}

.fonticon-20-voice-memo-recording:before,.fonticon-20-voice-memo-recording--after:after{content:"\e614";}

.fonticon-20-music:before,.fonticon-20-music--after:after{content:"\e615";}

.fonticon-20-pro-audio:before,.fonticon-20-pro-audio--after:after{content:"\e616";}

.fonticon-20-travel:before,.fonticon-20-travel--after:after{content:"\e617";}

.fonticon-20-controller:before,.fonticon-20-controller--after:after{content:"\e618";}

.fonticon-20-all-in-one:before,.fonticon-20-all-in-one--after:after{content:"\e619";}

.fonticon-20-walkman-compact:before,.fonticon-20-walkman-compact--after:after{content:"\e61a";}

.fonticon-20-wifi:before,.fonticon-20-wifi--after:after{content:"\e61b";}

.fonticon-20-3d:before,.fonticon-20-3d--after:after{content:"\e61c";}

.fonticon-20-led:before,.fonticon-20-led--after:after{content:"\e61d";}

.fonticon-20-4k:before,.fonticon-20-4k--after:after{content:"\e61e";}

.fonticon-20-laptop-tap:before,.fonticon-20-laptop-tap--after:after{content:"\e61f";}

.fonticon-20-laptop-flip:before,.fonticon-20-laptop-flip--after:after{content:"\e620";}

.fonticon-20-laptops:before,.fonticon-20-laptops--after:after{content:"\e621";}

.fonticon-20-hybrid-pcs:before,.fonticon-20-hybrid-pcs--after:after{content:"\e622";}

.fonticon-20-pro-handycam:before,.fonticon-20-pro-handycam--after:after{content:"\e623";}

.fonticon-20-advanced-amateur:before,.fonticon-20-advanced-amateur--after:after{content:"\e624";}

.fonticon-20-night:before,.fonticon-20-night--after:after{content:"\e625";}

.fonticon-20-landscapes:before,.fonticon-20-landscapes--after:after{content:"\e626";}

.fonticon-20-portraits:before,.fonticon-20-portraits--after:after{content:"\e627";}

.fonticon-20-expert-capability:before,.fonticon-20-expert-capability--after:after{content:"\e628";}

.fonticon-20-big-zoom:before,.fonticon-20-big-zoom--after:after{content:"\e629";}

.fonticon-20-casual-shooting:before,.fonticon-20-casual-shooting--after:after{content:"\e62a";}

.fonticon-20-phones:before,.fonticon-20-phones--after:after{content:"\e62b";}

.fonticon-20-battery:before,.fonticon-20-battery--after:after{content:"\e62c";}

.fonticon-20-mic-studio:before,.fonticon-20-mic-studio--after:after{content:"\e62d";}

.fonticon-20-runner:before,.fonticon-20-runner--after:after{content:"\e62e";}

.fonticon-20-skateboard:before,.fonticon-20-skateboard--after:after{content:"\e62f";}

.fonticon-15-flag:before,.fonticon-15-flag--after:after{content:"\e630";}

.fonticon-15-tumblr:before,.fonticon-15-tumblr--after:after{content:"\e631";}

.fonticon-15-vine:before,.fonticon-15-vine--after:after{content:"\e632";}

.fonticon-15-vk:before,.fonticon-15-vk--after:after{content:"\e633";}

.fonticon-15-weibo:before,.fonticon-15-weibo--after:after{content:"\e683";}

.fonticon-15-comment-ratings:before,.fonticon-15-comment-ratings--after:after{content:"\e634";}

.fonticon-15-circle-num-9:before,.fonticon-15-circle-num-9--after:after{content:"\e635";}

.fonticon-15-circle-num-8:before,.fonticon-15-circle-num-8--after:after{content:"\e636";}

.fonticon-15-circle-num-7:before,.fonticon-15-circle-num-7--after:after{content:"\e637";}

.fonticon-15-circle-num-6:before,.fonticon-15-circle-num-6--after:after{content:"\e638";}

.fonticon-15-circle-num-5:before,.fonticon-15-circle-num-5--after:after{content:"\e639";}

.fonticon-15-circle-num-4:before,.fonticon-15-circle-num-4--after:after{content:"\e63a";}

.fonticon-15-circle-num-3:before,.fonticon-15-circle-num-3--after:after{content:"\e63b";}

.fonticon-15-circle-num-2:before,.fonticon-15-circle-num-2--after:after{content:"\e63c";}

.fonticon-15-circle-num-1:before,.fonticon-15-circle-num-1--after:after{content:"\e63d";}

.fonticon-15-circle-num-0:before,.fonticon-15-circle-num-0--after:after{content:"\e63e";}

.fonticon-15-zoom:before,.fonticon-15-zoom--after:after{content:"\e63f";}

.fonticon-15-instagram:before,.fonticon-15-instagram--after:after{content:"\e640";}

.fonticon-15-link:before,.fonticon-15-link--after:after{content:"\e641";}

.fonticon-15-facebook:before,.fonticon-15-facebook--after:after{content:"\e642";}

.fonticon-15-pinterest:before,.fonticon-15-pinterest--after:after{content:"\e643";}

.fonticon-15-youtube:before,.fonticon-15-youtube--after:after{content:"\e644";}

.fonticon-15-gplus:before,.fonticon-15-gplus--after:after{content:"\e645";}

.fonticon-15-facebook-sm:before,.fonticon-15-facebook-sm--after:after{content:"\e646";}

.fonticon-15-twitter:before,.fonticon-15-twitter--after:after{content:"\e647";}

.fonticon-15-popup:before,.fonticon-15-popup--after:after{content:"\e648";}

.fonticon-15-circle-play:before,.fonticon-15-circle-play--after:after{content:"\e649";}

.fonticon-15-mobile-menu:before,.fonticon-15-mobile-menu--after:after{content:"\e64a";}

.fonticon-10-blank:before,.fonticon-10-blank--after:after{content:"\e64b";}

.fonticon-10-circle_off:before,.fonticon-10-circle_off--after:after{content:"\e64d";}

.fonticon-10-circle-plus:before,.fonticon-10-circle-plus--after:after{content:"\e64c";}

.fonticon-10-globe-web:before,.fonticon-10-globe-web--after:after{content:"\e64e";}

.fonticon-10-no-favorites:before,.fonticon-10-no-favorites--after:after{content:"\e64f";}

.fonticon-10-share:before,.fonticon-10-share--after:after{content:"\e650";}

.fonticon-10-thumbs-down:before,.fonticon-10-thumbs-down--after:after{content:"\e651";}

.fonticon-10-web-globe:before,.fonticon-10-web-globe--after:after{content:"\e652";}

.fonticon-10-back-to-top:before,.fonticon-10-back-to-top--after:after{content:"\e653";}

.fonticon-10-circle_on:before,.fonticon-10-circle_on--after:after{content:"\e654";}

.fonticon-10-thumbs-up:before,.fonticon-10-thumbs-up--after:after{content:"\e655";}

.fonticon-10-blank:before,.fonticon-10-blank--after:after{content:"\e64b";}

.fonticon-10-browse:before,.fonticon-10-browse--after:after{content:"\e656";}

.fonticon-10-compare:before,.fonticon-10-compare--after:after{content:"\e657";}

.fonticon-10-x-sm:before,.fonticon-10-x-sm--after:after{content:"\e658";}

.fonticon-10-minus-sm:before,.fonticon-10-minus-sm--after:after{content:"\e684";}

.fonticon-10-plus-sm:before,.fonticon-10-plus-sm--after:after{content:"\e659";}

.fonticon-10-speaker:before,.fonticon-10-speaker--after:after{content:"\e65a";}

.fonticon-10-video-pause:before,.fonticon-10-video-pause--after:after{content:"\e65b";}

.fonticon-10-video-play:before,.fonticon-10-video-play--after:after{content:"\e65c";}

.fonticon-10-video-minimize:before,.fonticon-10-video-minimize--after:after{content:"\e65d";}

.fonticon-10-video-enlarge:before,.fonticon-10-video-enlarge--after:after{content:"\e65e";}

.fonticon-10-x:before,.fonticon-10-x--after:after{content:"\e65f";}

.fonticon-10-circlearrow:before,.fonticon-10-circlearrow--after:after{content:"\e660";}

.fonticon-10-dot:before,.fonticon-10-dot--after:after{content:"\e661";}

.fonticon-10-sm-bold-x:before,.fonticon-10-sm-bold-x--after:after{content:"\e662";}

.fonticon-10-sm-bold-check:before,.fonticon-10-sm-bold-check--after:after{content:"\e663";}

.fonticon-10-sm-bold-plus:before,.fonticon-10-sm-bold-plus--after:after{content:"\e664";}

.fonticon-10-arrow-left:before,.fonticon-10-arrow-left--after:after{content:"\e687";}

.fonticon-10-arrow-right:before,.fonticon-10-arrow-right--after:after{content:"\e665";}

.fonticon-10-arrowheads-elevator:before,.fonticon-10-arrowheads-elevator--after:after{content:"\e666";}

.fonticon-10-arrowhead-up:before,.fonticon-10-arrowhead-up--after:after{content:"\e667";}

.fonticon-10-arrowhead-down:before,.fonticon-10-arrowhead-down--after:after{content:"\e668";}

.fonticon-10-alpha-bold:before,.fonticon-10-alpha-bold--after:after{content:"\e669";}

.fonticon-10-alpha-medium:before,.fonticon-10-alpha-medium--after:after{content:"\e66a";}

.fonticon-10-alpha:before,.fonticon-10-alpha--after:after{content:"\e66b";}

.fonticon-10-alpha-light:before,.fonticon-10-alpha-light--after:after{content:"\e66c";}

.fonticon-10-chevron-sm:before,.fonticon-10-chevron-sm--after:after{content:"\e66d";}

.fonticon-10-chevron-reverse:before,.fonticon-10-chevron-reverse--after:after{content:"\e66e";}

.fonticon-10-chevron:before,.fonticon-10-chevron--after:after{content:"\e66f";}

.fonticon-10-x-skinny-rounded:before,.fonticon-10-x-skinny-rounded--after:after{content:"\e670";}

.fonticon-10-x-skinny:before,.fonticon-10-x-skinny--after:after{content:"\e671";}

.fonticon-10-plus-skinny:before,.fonticon-10-plus-skinny--after:after{content:"\e672";}

.fonticon-10-square-neg-plus:before,.fonticon-10-square-neg-plus--after:after{content:"\e673";}

.fonticon-10-circle-q:before,.fonticon-10-circle-q--after:after{content:"\e674";}

.fonticon-10-circle-x:before,.fonticon-10-circle-x--after:after{content:"\e675";}

.fonticon-10-grid-3x3:before,.fonticon-10-grid-3x3--after:after{content:"\e676";}

.fonticon-10-support:before,.fonticon-10-support--after:after{content:"\e677";}

.fonticon-10-location:before,.fonticon-10-location--after:after{content:"\e678";}

.fonticon-10-star-half:before,.fonticon-10-star-half--after:after{content:"\e679";}

.fonticon-10-star:before,.fonticon-10-star--after:after{content:"\e67a";}

.fonticon-10-globe:before,.fonticon-10-globe--after:after{content:"\e67b";}

.fonticon-10-registered:before,.fonticon-10-registered--after:after{content:"\e67c";}

.fonticon-10-newsletter:before,.fonticon-10-newsletter--after:after{content:"\e67d";}

.fonticon-10-orders:before,.fonticon-10-orders--after:after{content:"\e67e";}

.fonticon-10-account:before,.fonticon-10-account--after:after{content:"\e67f";}

.fonticon-10-search:before,.fonticon-10-search--after:after{content:"\e680";}

.fonticon-10-cart:before,.fonticon-10-cart--after:after{content:"\e681";}

.fonticon-10-favorite:before,.fonticon-10-favorite--after:after{content:"\e682";}
